extends layout

block content
    h1 Login
    form(action="/users/login" method='POST')
        label(for='email') Email
        input(type='text' name='email' value='' placeholder='Enter Email')
        label(for='password') Password
        input(type='password' name='password' value='' placeholder='Enter Password')
        button(class='bttn' type='submit') Login
