extends layout

block content
    h1 Add Recipe
    
    form(action="/profile/upload" method='POST' enctype='multipart/form-data')
        label(for='form__upload') 
        input(name='recipe_image' id='form__upload' class='form__upload__bttn' type='file' accept='image/*')
        p(class='form__upload__text') Reccomended size: 1200 x 628
        button(class='bttn' formaction='/profile/upload' type='submit') UPLOAD

    form(action="/profile/recipe" method='POST')

        label(for='recipe_title') Recipe Title
        input(name='recipe_title' type='text' id='recipe_title' value='' placeholder='Enter title' required)

        label(for='description') Description
        textarea(name='description' id='description' value='' placeholder='Enter a description (optional)')

        label(for='directions') Directions
        textarea(name='directions' id='directions' value='' placeholder='Enter directions:' required)

        label(for='ingredients') Ingredients
        textarea(name='ingredients' id='ingredients' value='' placeholder='Add one ingredient per line.' required)

        label(for='prep_time') Preparation time
        input(name='prep_time' type='number' id='prep_time' value='' placeholder='0' required)

        label(for='cook_time') Cook time
        input(name='cook_time' type='number' id='cook_time' value='' placeholder='0' required)

        label(for='servings') Servings
        input(name='servings' type='number' id='servings' value='' placeholder='1' required)

        button(class='bttn bttn--blue' formaction='/profile/recipe' type='submit') SAVE RECIPE
        span.form__cancel__bttn
            a(href="/profile/recipe") CANCEL
