@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('../fonts/FjallaOne-Regular.eot'); 
  src: url('../fonts/FjallaOne-Regular.woff2') format('woff2'), 
       url('../fonts/FjallaOne-Regular.woff') format('woff'), 
       url('../fonts/FjallaOne-Regular.ttf')  format('truetype'), 
       url('../fonts/FjallaOne-Regular.otf')  format('opentype') 
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    font-size: 100%;
    line-height: 1.75;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'FjallaOne-Regular', monospace;
}

main {
    width: 100%;
    max-width: 475px;
}

main,
header,
footer {
    padding: .5em;
    box-sizing: border-box;
}

h1 {
    max-width: 400px;
    margin: 1rem auto;
}

a {
    text-decoration: none;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.menu__link {
    color: #3E4460;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 0;
}

.menu__link:hover {
    text-decoration: underline;
}

form {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: .5em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 100%;
    height: 45px;
    display: block;
    margin-bottom: 2em;
    font-family: inherit;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: .5rem;
    min-height: 100px;
    border-radius: 4px;
    margin-bottom: 2em;
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid #CDC7C2;
}

.bttn {
    width: 100%;
    height: 60px;
    margin: 1em 0;
    color: #0101EE;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 2px;
    font-family: inherit;
    text-transform: uppercase;
    border: 4px solid #0101EE;
}

.bttn:hover {
    color: #FFFFFF;
    background-color: #0101EE;
}

.bttn--blue {
    background-color: #7CC9EE;
}

.form__upload__text {
    color: #888888;
    margin-bottom: 0;
}

.form__cancel__bttn {
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 2px;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    border: 4px solid #0101EE;
}

footer {
    margin-top: auto;
}

@media only screen and (min-width: 875px) {
    body {
        background: url('../images/polka-dots-938427_1280_blur_blue_1600x1600.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 50% 100%;
    }
}
